@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AltaDelantero</title>
</head>
<body>
    <div>
        <form action="/Jugador/AltaDelantero" method="post">
            <div>
                <div>
                    Nombre: <input type="text" name="Nombre" />
                </div>
                <div>
                    Apellido: <input type="text" name="Apellido" />
                </div>
                <div>
                    Expulsado: Si <input type="radio" name="Expulsado" value="True" /> No <input type="radio" name="Expulsado" value="False" checked="checked" />
                </div>
                <div>
                    Penales Convertidos: <input type="text" name="PenalesConvertidos" />
                </div>
                <input type="submit" name="Crear Delantero" />
            </div>
        </form>
    </div>
</body>
</html>
